* {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

$main-background-color: #ECEFF8;

$navbar-color: #4F9CC8;

body{
  background-color: $main-background-color;
  nav {
    background-color: $navbar-color;
    padding: 10px;
    position: fixed;
    width: 100vw;
    }
    h1{
      padding-left: 10px;
      color: white;
    }
  .user-header {
    padding: 15px;
    position: relative;
    padding-top: 70px;
  }
  .userCard {
    background-color: #9DBED4;
    width: 400px;
    max-height: 300px;
    border: solid 2px #4F9CC8;
    //padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .avatarImg {
    max-height: 200px;
    max-width: 200px;
    clip-path: circle(40% at 50% 50%);
    align-self: center;
    object-fit:;
  }
  .cardUsernameText {
    align-self: center;
    padding: 10px;
  }
}


