@import './index.scss';

$background-login: #D1D8E2;
$background-login-button: #FFFFFF;
$text-color-black: #000000;
$hover-login-button-shadow: #5364FF51;


.loginPageContainer {
  padding: 100px 20px 50px 20px;
  @include centering-container;
}

.loginPageFormContainer {
  background-color: $background-login;
  width: 100%;
  height: 300px;
  max-width: 450px;
  border-radius: 25px;
  margin: 0 auto;
  .loginTitle {
    text-align: center;
    padding: 15px;
  }
  .inputContainer {
    @include centering-container;
    padding: 5px 75px;
  }
  .inputLabel {
    padding: 0 0 10px 0;
  }
  .submitForm {
    background: $background-login-button;
    color: $text-color-black;
    text-decoration: none;
    font-size: 13px;
    line-height: 38px;
    border-radius: 50px;
    transition: all 0.3s;
    width: 150px;
    height: 40px;
    text-align: center;
    margin: 20px auto;
    border-width: 0;
    &:hover {
      background: #339DFF;
      color: #FFFFFF;
      box-shadow: 0 4px 4px $hover-login-button-shadow;
    }
  }
}



