@mixin centering-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.registrationPageContainer {
  @include centering-container;
  width: 600px;
  margin: 0 auto;
  background: gray;

  .createUserIntro {

    text-align: left;
    font-size: 1.5rem;
    color: #000000;
  }

  .registrationForm {
    @include centering-container;
    max-width: 350px;
    gap: 10px;
    margin: 100px auto 0;
  }

  .submitForm {

  }
}

