@import './index.css';

$text-color-black: #000000;
$background-bio: #D1D8E2;

.userProfileContainer {
  padding: 10px 10px 50px 10px;
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: $text-color-black;
  }
  h1 {
    color: $text-color-black;
  }
  .profileCard {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    align-items: center;
  }
  .bioTextContainer {
    border: 1px solid #D1D8E2;
    border-radius: 15px;
    background-color: $background-bio;
    max-width: 600px;
    overflow-wrap: break-word;
    padding: 10px;
    margin: 30px 10px 0 10px;
  }
  .profileAvatarImg {
    margin: 50px;
    clip-path: circle(50% at 50% 50%);
    height: 250px;
    width: 250px;
  }
}

